body {
    background-color: #753c3c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
body {
    background-color: #f1dea1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #e4720e;
    color: rgb(131, 78, 3);
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}
section {
    background-color: rgba(240, 144, 144, 0.295);
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}
h2 {
    color: #333;
    text-align: center;
}
img {
    width: 250px;
    display: block;
    margin: auto;
    border-radius: 15px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
img {
    width: 600px;
    height: 500px;
}

.imagen7 {
    width: 40px;
    height: 10px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 18px;
}
h2 {
    text-decoration: underline;
}